__pycache__/
*.py[cod]
*.log
*.dat
*.pcap
*.pcapng
*.csv
*.txt
*.png
*.jpg
*.jpeg
*.pdf
*.tar
*.tar.gz
*.zip
*.7z
*.bak
*.tmp
*.out
*.aux
*.bbl
*.blg
*.synctex.gz

rodadas_baseline/
rodadas_qos/
logs_execucao/
verificacoes_qdisc/
auditoria_pos_teste/
analise_tcc/
plots/
figuras_tcc_final/
smoke_test*/
definitivo*/
backup*/
